body {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #170e00;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header {
    text-align: center;
    color: #f89019;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 24px;
}
p {
    color: #482e11;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}
.container, .menu {
    padding: 20px;
    padding-left: 20px;
    background-color: #1f1301;
    border-radius: 10px;
    color: #874902;
    font-family: 'Arial', sans-serif;
}
a {
    color: #f89019;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
}
a:hover {
    color: #482e11;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}
.container li{
    padding: 10px 15px;
    transition: all 0.2s ease;
}

.container li:hover {
    background-color: #653702d2;
    color: #170e00;
    border-radius: 10px;
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.menu li {
  position: relative;
  width: fit-content;
  margin: 20px 0;
}
.description {
  position: absolute;
  left: 120%;
  color: #482e11;
  width: 250px;
  padding: 20px;

  background: #605a51;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);

  opacity: 0;
  visibility: hidden;
  transform: translateY(-50%) translateX(-10px);

  transition:
    opacity 0.2s ease,
    transform 0.2s ease,
    visibility 0.2s ease;
}
.menu li:hover .description {
  opacity: 1;
  visibility: visible;
  transform: translateY(-50%) translateX(0);
}
.description img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}